Source: ros-rolling-ublox-gps
Section: misc
Priority: optional
Maintainer: Gareth Cross <gcross.code@icloud.com>
Build-Depends: debhelper (>= 9.0.0), ament-cmake-ros, libasio-dev, libdiagnostic-msgs-dev, libdiagnostic-updater-dev, libgeometry-msgs-dev, libsensor-msgs-dev, libstd-msgs-dev, libtf2-dev, python3-diagnostic-msgs, python3-diagnostic-updater, python3-geometry-msgs, python3-sensor-msgs, python3-std-msgs, python3-tf2, ros-diagnostic-msgs, ros-geometry-msgs, ros-rolling-rcl-interfaces, ros-rolling-rclcpp, ros-rolling-rclcpp-components, ros-rolling-ublox-msgs, ros-rolling-ublox-serialization, ros-sensor-msgs, ros-std-msgs, ros-rolling-ros-workspace
Homepage: http://ros.org/wiki/ublox
Standards-Version: 3.9.2

Package: ros-rolling-ublox-gps
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libasio-dev, libdiagnostic-msgs-dev, libdiagnostic-updater-dev, libgeometry-msgs-dev, libsensor-msgs-dev, libstd-msgs-dev, libtf2-dev, python3-diagnostic-msgs, python3-diagnostic-updater, python3-geometry-msgs, python3-sensor-msgs, python3-std-msgs, python3-tf2, ros-diagnostic-msgs, ros-geometry-msgs, ros-rolling-rcl-interfaces, ros-rolling-rclcpp, ros-rolling-rclcpp-components, ros-rolling-ublox-msgs, ros-rolling-ublox-serialization, ros-sensor-msgs, ros-std-msgs, ros-rolling-ros-workspace
Description: Driver for u-blox GPS devices.
